[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/velerofinance/ds-test
[submodule "lib/dss-cdp-manager"]
	path = lib/dss-cdp-manager
	url = https://github.com/velerofinance/dss-cdp-manager
	branch = dss-v1.2
[submodule "lib/proxy-registry"]
	path = lib/proxy-registry
	url = https://github.com/velerofinance/proxy-registry
[submodule "lib/ds-weth"]
	path = lib/ds-weth
	url = https://github.com/velerofinance/ds-weth
[submodule "lib/dss-gem-joins"]
	path = lib/dss-gem-joins
	url = https://github.com/velerofinance/dss-gem-joins
	branch = dss-v1.2
